<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name.capitalize %>
  &nbsp;
  &nbsp;
  &nbsp;
  <strong>Email:</strong>
  <%= @user.email %>
  &nbsp;
  &nbsp;
  &nbsp;
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', events_path %>
</p>

<h2>Own Events</h2>

<%= empty_own_table %>

<h2>Today Events</h2>

<%= empty_next_table %>

<h2>Next Attending Events</h2>

<%= empty_attend_table %>

<h2>Attended events</h2>

<%= empty_attended %>
