<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title.capitalize %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body.capitalize %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.capitalize %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user.name.capitalize %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @attendees.where(event_id: @event.id).count %>
  <% @attendees.where(event_id: @event.id).each do |i|%>
    <p>
      <%= @users.find(i.user_id).name %>
    </p>
  <% end %>
</p>

<%= button_to 'Attend', attend_event_path(@event), method: :post, confirm: 'really?' %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
