<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title.capitalize %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body.capitalize %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.capitalize %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user.name.capitalize %>
</p>

<%= link_to 'Attend', new_attendance_path %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
